<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Template</title>


    <link rel="stylesheet" type="text/css" href="/public/css/styleLogin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row col-lg-6 col-md-12 col-sm-12 col-12 login-content">
        <!--navbar-->
        <div class="header-area">
            <!-- site-navbar start -->
            <div class="navbar-area">

                <nav class="site-navbar">


                    <!-- site menu/nav -->
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>

                    <!-- nav-toggler for mobile version only -->
                    <button class="nav-toggler">
                        <span></span>
                    </button>
                </nav>

            </div><!-- navbar-area end -->

        </div>

        <!-- login form -->

        <div class="col-lg-10 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-2 col-12 login-form">
            <h4>USER LOGIN</h4>
            <form action="", method="POST">
                <div class="form-group">
                    <input type="text" class="form-control " placeholder="Username"  name="email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="pass">
                </div>
                <p hidden>nhap sai thong tin</p>
                <div class="form-group col-lg-8 offset-lg-2 col-md-6 offset-md-3 col-sm-6 offset-sm-3 login-btn">
                    <input type="submit" class="btn btn-primary form-control" value="Login">
                </div>

                <div class="create-account">
                    <a href="">Create Account</a>
                </div>
            </form>


        </div>

    </div>
</div>

<div class="copyright">
    <a href="www.hqtemplate.com">Developed By HQ Template</a>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/js/login.js"></script>
</body>
</html>